name: Docker Build and Push

# Trigger workflow on push to main
on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # Step 1: Check out the repository
      - name: Checkout repository
        uses: actions/checkout@v3

      # Step 2: Hit up Docker Hub
      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_TOKEN }}

      # Step 3: Build the Docker image
      - name: Build Docker image
        run: docker build -t my-static-site .

      # Step 4: Tag Docker Image
      - name: Tag Docker images
        run: docker tag my-static-site:latest ${{ secrets.DOCKER_HUB_USERNAME }}/my-static-site:latest

      # Step 5: Push Docker Image
      - name: Push Docker Image
        run: docker push ${{ secrets.DOCKER_HUB_USERNAME }}/my-static-site:latest
